<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.title -%}
  <title>{{ page.title }} - {{ site.title }}</title>
  {%- endif -%}
  {%- if page.title == null -%}
  <title>{{ site.title }}</title>
  {%- endif -%}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/Styles/my-styles.css">
  <link rel="icon" sizes="16x16" href="{{site.baseurl}}/Icons/favicon.ico">
  <link rel="icon" sizes="32x32" href="{{site.baseurl}}/Icons/favicon.ico">
  {%- feed_meta -%}
</head>
