figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Home */
.post-preview {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
	padding: 15px;
}

.post-preview-title {
	font-size: 1.17em;
	line-height: 1.2em;
}

.post-feature-image {
	max-height: 300px;
	margin-bottom: 15px;
}

.post-excerpt {
	color: initial;
	text-decoration: none;
	font-size: initial;
	margin-bottom: 0;
}

.post-link:hover {
	text-decoration: underline;
}

.post-excerpt-link:hover {
	text-decoration: none;
}

/* Post tags */
.aside-heading {
	font-size: 1.5rem !important;
}

.post-tags .tag-link:not(:last-child):after {
	content: ",";
}

.tag-link:not(:last-child)::after {
	content: ',';
}

.highlight {
	white-space: normal;
}

/* Footer */
.footer-info {
	width: 100%;
	margin-bottom: 0;
}

.contact-list {
	margin-bottom: 0;
}
